.container-footer {
    display: flex;
    justify-content: space-around;
    color: black;
    border-top: 1px solid rgba(0,0,0,.11);
    border-bottom: 1px solid rgba(0,0,0,.11);
    padding: 50px 0px;
}

.footer-bottom{
    color: black;
    margin-top: 5px;
}